<div class="row">
	<div class="col-lg-12">
		<nb-card>
			<nb-card-header>Maintenance</nb-card-header>
			<nb-card-body>
				<!-- The list of meetingrooms -->
				<table class="table table-striped table-hover">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">Room</th>
				      <th scope="col">Device</th>
				      <th scope="col">Battery</th>
				      <th scope="col">Status</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th  scope="row">Pam Beesly</th>
				      <td>Aeotec Multisensor Gen 6 #1</td>
				      <td><h3><i class="ion-battery-full text-success"></i></h3></td>
				      <td><div class="alert alert-success"><strong>OK</strong></div></td>
				    </tr>
				    <tr>
				      <th  scope="row">Jockes office</th>
				      <td>Aeotec Multisensor Gen 6 #2</td>
				      <td><h3><i class="ion-battery-full text-success"></i></h3></td>
				      <td><div class="alert alert-success"><strong>OK</strong></div></td>
				    </tr>
				    <tr>
				      <th scope="row">Dwight Schrute</th>
				      <td>Aeotec Multisensor Gen 6 #3</td>
				      <td><h3><i class="ion-battery-half text-success"></i></h3></td>
				      <td><div class="alert alert-success"><strong>OK</strong></div></td>
				    </tr>
				   	<tr>
				      <th scope="row">Jim Halpert</th>
				      <td>Aeotec Multisensor Gen 6 #4</td>
				      <td><h3><i class="ion-battery-low text-warning"></i></h3></td>
				      <td><div class="alert alert-warning"><strong>Change battery</strong></div></td>
				    </tr>
				   	
				   	<tr>
				      <th scope="row">Sheldon Coopers spot</th>
				      <td>Aeotec Multisensor Gen 6 #5</td>
				      <td><h3><i class="ion-battery-low text-warning"></i></h3></td>
				      <td><div class="alert alert-warning"><strong>Change battery</strong></div></td>
				    </tr>
				   	<tr>
				      <th scope="row">Coffee Machine area</th>
				      <td>Aeotec Multisensor Gen 6 #6</td>
				      <td><h3><i class="ion-battery-empty text-danger"></i></h3></td>
				      <td><div class="alert alert-danger"><strong>Not responding</strong></div></td>
				    </tr>
				    <tr>
				      <th scope="row">Michael Scott</th>
				      <td>Aeotec Multisensor Gen 6 #7</td>
				      <td><h3><i class="ion-battery-empty text-danger"></i></h3></td>
				      <td><div class="alert alert-danger"><strong>Not responding</strong></div></td>
				    </tr>
				    
				  </tbody>
				</table>

				
			</nb-card-body>
		</nb-card>
	</div>
</div>