<nb-card>
  <nb-card-body>
    <div class="picture"><img src="assets/images/writer-at-work.gif" width="100%"></div>

    <div class="details">
      <div class="title">
        Todays change suggestion 
      </div>
      <div class="description">
        Studies show that when a desk have a utilization lower than <span class="text-success">20%</span> it should be replaced by a <span class="text-success">hotdesk</span> to maximize utilization.
        <h4 class="text-danger">Replace: Jockes office</h4>
      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    
  </nb-card-footer>
</nb-card>