<div class="row">
	<div class="col-lg-3">
		<nb-card>
			<nb-card-header>Office name</nb-card-header>
			<nb-card-body>Jockes plats</nb-card-body>
		</nb-card>
	</div>
	<div class="col-lg-3">
		<nb-card>
			<nb-card-header>Active sensors</nb-card-header>
			<nb-card-body>6</nb-card-body>
		</nb-card>
	</div>
	<div class="col-lg-3">
		<nb-card>
			<nb-card-header>Warnings</nb-card-header>
			<nb-card-body>0</nb-card-body>
		</nb-card>
	</div>
	<div class="col-lg-3">
		<nb-card>
			<nb-card-header>Alarms</nb-card-header>
			<nb-card-body>0</nb-card-body>
		</nb-card>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
  		<nb-card>
    		<nb-card-header>Average utilization</nb-card-header>
    		<nb-card-body>
    			<chart-pie></chart-pie>
    		</nb-card-body>
  		</nb-card>
  	</div>
  	<div class="col-lg-6">
  		<nb-card>
    		<nb-card-header>Office utilization</nb-card-header>
    		<nb-card-body>
    			<chart-line></chart-line>
    		</nb-card-body>
  		</nb-card>
  	</div>
</div>
